<template>
    <AdminLayout>
        <main class="p-4 md:ml-64 h-auto pt-20 mx-auto max-w-screen-xl px-4 lg:px-12">
           <ProductList :products="products" :categories="categories" :businesses="businesses"/>
        </main>
    </AdminLayout>
</template>

<script setup>
import { onMounted } from 'vue'
import { initFlowbite } from 'flowbite'
import AdminLayout from '../Components/AdminLayout.vue'
import ProductList from './ProductList.vue';
// initialize components based on data attribute selectors
onMounted(() => {
    initFlowbite();
})

defineProps({
    products: Array,
    categories: Array,
    businesses: Array
})

</script>