<template>
    <section class="bg-gray-50 dark:bg-gray-900">

        <div>
            <h2 class="text-2xl font-extrabold dark:text-white mb-5">Product Management</h2>
            <div v-if="businesses && businesses.length == 0">
                <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
                    Please make sure at least have 1 business data before create product. Click <Link :href="route('admin.business.index')"><span class="font-bold">here</span></Link>

                </div>
            </div>
            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div
                    class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full md:w-1/2">
                        
                    </div>
                    <div
                        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                        <button v-if="businesses && businesses.length > 0" @click="openAddModal" type="button"
                            class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd"
                                    d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                            </svg>
                            Add product
                        </button>

                    </div>
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-4 py-3">Image</th>
                                <th scope="col" class="px-4 py-3">Business</th>
                                <th scope="col" class="px-4 py-3">Product</th>
                                <th scope="col" class="px-4 py-3">Category</th>
                                <th scope="col" class="px-4 py-3">Quantity</th>
                                <th scope="col" class="px-4 py-3">Price</th>
                                <th scope="col" class="px-4 py-3">Price Per (kg)</th>
                                <th scope="col" class="px-4 py-3">Arrived</th>
                                <th scope="col" class="px-4 py-3">Expired</th>
                                <th scope="col" class="px-4 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="product in products" :key="product.id" class="border-b dark:border-gray-700">
                                <th scope="row"
                                    class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img :src="product.image" class="w-auto h-8 mr-3">
                                </th>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            product.business && product.business.name }}
                                </td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            product.name }}
                                </td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            product.category_id.description }}
                                </td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            product.quantity }}</td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">RM {{
                            product.price }}</td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">RM {{
                            product.price_per_kg }}</td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            product.product_arrived }}</td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            product.expired_date }}</td>
                                <td class="px-4 py-3 flex items-center justify-end">
                                    <button :id="`${product.id}-button`" :data-dropdown-toggle="`${product.id}`"
                                        class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                                        type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div :id="`${product.id}`"
                                        class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                            :aria-labelledby="`${product.id}`">
                                            <li>
                                                <a href="#" @click="openEditModal(product)"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                            </li>
                                        </ul>
                                        <div class="py-1">
                                            <a href="#" @click="DeleteProduct(product.id)"
                                                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav v-if="products && products.length == 0" class="space-y-3 md:space-y-0 p-4"
                    aria-label="Table navigation">
                    <div style="text-align: center">
                        No Data
                    </div>
                </nav>
            </div>
        </div>
        <div v-if="modalOpen" tabindex="-1" aria-hidden="true"
            class="fixed inset-0 z-50 flex items-center justify-center">
            <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
            <div class="relative p-4 w-full max-w-[55%] max-h-full">

                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

                    <div class="flex items-center justify-between p-2 md:p-3 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            {{ isAddProduct ? 'Create Product' : 'Edit Product' }}
                        </h3>
                        <button type="button" @click="closeModal"
                            class="end-2.5 text-gray-400 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="authentication-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <div class="p-4 md:p-4">
                        <form @submit.prevent="isAddProduct ? AddProduct() : UpdateProduct()">
                            <label for="Image"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload
                                Image</label>
                            <div class="flex items-center justify-center w-full">
                                <label for="dropzone-file"
                                    class="relative flex flex-col items-center justify-center w-full h-25 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                    <!-- Show preview image here -->
                                    <img :src="imagePreview" alt="Preview Image"
                                        class="w-48 h-48 object-cover rounded-lg" v-if="imagePreview" />

                                    <!-- Show placeholder if no image preview -->
                                    <div v-else>
                                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 20 16">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                            </svg>
                                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                                    class="font-semibold">Click to upload</span> or drag and drop</p>
                                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF</p>
                                        </div>
                                    </div>
                                    <input id="dropzone-file" type="file" class="hidden" @change="handleImageUpload" />
                                </label>
                            </div>
                            <div class="flex flex-wrap">
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
                                    <input v-model="name" type="text" name="name" id="name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Name" required />
                                </div>
                                <div class="w-full md:w-1/2 p-2 ">
                                    <label for="categories"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select
                                        Business</label>
                                    <select id="categories" v-model="business_id"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option disabled selected value="">Choose Business</option>
                                        <option v-for="business in businesses" :key="business.id"
                                            :value="business.id">
                                            {{ business.name }}</option>
                                    </select>

                                </div>
                                <div class="w-full md:w-1/2 p-2 ">
                                    <label for="categories"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a
                                        category</label>
                                    <select id="categories" v-model="category_id"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option disabled selected value="">Choose a category</option>
                                        <option v-for="category in categories" :key="category.id"
                                            :value="category.id">
                                            {{ category.name }}</option>
                                    </select>

                                </div>
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="quantity"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
                                    <input v-model="quantity" type="number" name="quantity" id="quantity"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Quantity" />
                                </div>
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="price"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                                    <input v-model="price" type="decimal" name="price" id="price"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Price" />
                                </div>
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="pricePerKg"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price Per
                                        (kg)</label>
                                    <input v-model="price_per_kg" type="decimal" name="pricePerKg" id="pricePerKg"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Price Per (kg)" />
                                </div>
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="arrived"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date
                                        Arrived</label>
                                    <input v-model="product_arrived" type="date" name="arrived" id="arrived"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
                                </div>
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="expired"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date
                                        Expired</label>
                                    <input v-model="expired_date" type="date" name="expired" id="expired"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
                                </div>

                            </div>
                            <div class="flex justify-end">
                                <button type="submit"
                                    class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Submit
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
</template>
<script setup>
import { router, Link } from '@inertiajs/vue3';
import { ref } from 'vue';

defineProps({
    products: Array,
    categories: Array,
    businesses: Array
})

const id = ref('')
const name = ref('')
const quantity = ref('')
const price = ref('')
const price_per_kg = ref('')
const product_arrived = ref('')
const expired_date = ref('')
const category_id = ref('')
const business_id = ref('')
const product_image = ref('')

const resetFormData = () => {
    id.value = ''
    name.value = ''
    quantity.value = ''
    price.value = ''
    price_per_kg.value = ''
    product_arrived.value = ''
    expired_date.value = ''
    business_id.value = ''
    product_image.value = ''
    imagePreview.value = ''
}

const modalOpen = ref(false);
const isAddProduct = ref(false);
const isEditProduct = ref(false);

const imagePreview = ref('');

const handleImageUpload = (input) => {
    if (input.target.files && input.target.files[0]) {
        const file = input.target.files[0];
        product_image.value = file; // Assuming product_image is a variable holding the file
        const reader = new FileReader();

        reader.onload = (e) => {
            imagePreview.value = e.target.result;
        };

        reader.readAsDataURL(file);
    }
};



const openAddModal = () => {
    modalOpen.value = true;
    isAddProduct.value = true;
};

const closeModal = () => {
    modalOpen.value = false;
    isAddProduct.value = false;
    isEditProduct.value = false;
    resetFormData()
};

const openEditModal = (product) => {
    modalOpen.value = true;
    isEditProduct.value = true;

    id.value = product.id
    name.value = product.name
    quantity.value = product.quantity
    price.value = product.price
    price_per_kg.value = product.price_per_kg
    product_arrived.value = product.product_arrived
    expired_date.value = product.expired_date
    category_id.value = product.category_id.id
    business_id.value = product.business_id
    imagePreview.value = product.image
};

const AddProduct = async () => {
    const formData = new FormData()

    formData.append('name', name.value)
    formData.append('quantity', quantity.value)
    formData.append('price', price.value)
    formData.append('price_per_kg', price_per_kg.value)
    formData.append('product_arrived', product_arrived.value)
    formData.append('expired_date', expired_date.value)
    formData.append('category_id', category_id.value)
    formData.append('business_id', business_id.value)

    if (product_image) {
        formData.append('image', product_image.value)
    }

    try {
        await router.post('product', formData)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}

const UpdateProduct = async () => {
    const formData = new FormData()
    formData.append('name', name.value)
    formData.append('quantity', quantity.value)
    formData.append('price', price.value)
    formData.append('price_per_kg', price_per_kg.value)
    formData.append('product_arrived', product_arrived.value)
    formData.append('expired_date', expired_date.value)
    formData.append('category_id', category_id.value)
    formData.append('business_id', business_id.value)
    formData.append('_method', 'PATCH')

    if (product_image) {
        formData.append('image', product_image.value)
    }

    try {
        await router.post('product/' + id.value, formData)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}

const DeleteProduct = async (id) => {
    try {
        await router.delete('product/' + id)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}
</script>