<template>
    <section class="bg-gray-50 dark:bg-gray-900">

        <div>
            <h2 class="text-2xl font-extrabold dark:text-white mb-5">Category Management</h2>
            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div
                    class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full md:w-1/2">

                    </div>
                    <div
                        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                        <button @click="openAddModal" type="button"
                            class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd"
                                    d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                            </svg>
                            Add Category
                        </button>
                    </div>
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-4 py-3">ID</th>
                                <th scope="col" class="px-4 py-3">Name</th>
                                <th scope="col" class="px-4 py-3">Created At</th>
                                <th scope="col" class="px-4 py-3">Updated At</th>

                                <th scope="col" class="px-4 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="category in categories" :key="category.id" class="border-b dark:border-gray-700">
                                <th scope="row"
                                    class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ category.id }}
                                </th>

                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            category.name }}
                                </td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ new Date(category.created_at)
                            .toLocaleString('en-US', { timeZone: 'Asia/Kuala_Lumpur', hour12: true })
                            .replace(/,/g, '') }}
                                </td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ new Date(category.updated_at)
                            .toLocaleString('en-US', { timeZone: 'Asia/Kuala_Lumpur', hour12: true })
                            .replace(/,/g, '') }}
                                </td>
                                <td class="px-4 py-3 flex items-center justify-end">
                                    <button :id="`${category.id}-button`" :data-dropdown-toggle="`${category.id}`"
                                        class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                                        type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div :id="`${category.id}`"
                                        class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                            :aria-labelledby="`${category.id}`">
                                            <li>
                                                <a href="#" @click="openEditModal(category)"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                            </li>
                                        </ul>
                                        <div class="py-1">
                                            <a href="#" @click="DeleteCategory(category.id)"
                                                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav v-if="categories && categories.length == 0" class="space-y-3 md:space-y-0 p-4"
                    aria-label="Table navigation">
                    <div style="text-align: center">
                        No Data
                    </div>
                </nav>
            </div>
        </div>
        <div v-if="modalOpen" tabindex="-1" aria-hidden="true"
            class="fixed inset-0 z-50 flex items-center justify-center">
            <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
            <div class="relative p-4 max-h-full" style="width: 400px;"> <!-- Adjust the width here -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <div class="flex items-center justify-between p-2 md:p-3 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            {{ isAddProduct ? 'Create Category' : 'Edit Category' }}
                        </h3>
                        <button type="button" @click="closeModal"
                            class="end-2.5 text-gray-400 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="authentication-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <div class="p-4 md:p-4">
                        <form @submit.prevent="isAddProduct ? AddCategory() : UpdateCategory()">
                            <div class="flex flex-wrap">
                                <div class="w-full p-2">
                                    <label for="name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category
                                        Name</label>
                                    <input v-model="name" type="text" name="name" id="name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Category Name" required />
                                </div>
                            </div>
                            <div class="flex justify-end">
                                <button type="submit"
                                    class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script setup>
import { router } from '@inertiajs/vue3';
import { ref } from 'vue';

defineProps({
    categories: Array,
})

const id = ref('')
const name = ref('')

const resetFormData = () => {
    id.value = ''
    name.value = ''
}

const modalOpen = ref(false);
const isAddProduct = ref(false);
const isEditProduct = ref(false);


const openAddModal = () => {
    modalOpen.value = true;
    isAddProduct.value = true;
};

const closeModal = () => {
    modalOpen.value = false;
    isAddProduct.value = false;
    isEditProduct.value = false;
    resetFormData()
};

const openEditModal = (business) => {
    modalOpen.value = true;
    isEditProduct.value = true;

    id.value = business.id
    name.value = business.name
};

const AddCategory = async () => {
    const formData = new FormData()

    formData.append('name', name.value)

    try {
        await router.post('category', formData)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}

const UpdateCategory = async () => {
    const formData = new FormData()
    formData.append('name', name.value)
    formData.append('_method', 'PATCH')

    try {
        await router.post('category/' + id.value, formData)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}

const DeleteCategory = async (id) => {
    try {
        await router.delete('category/' + id)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}
</script>