<template>
    <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
        <div class="flex items-center justify-between mx-auto p-4">
            <!-- Left Image -->
            <div class="left-image-container flex items-center">
                <img src="http://127.0.0.1:8000/image/logo.png" alt="Left Image" style="height: 50px;">
            </div>
            <!-- Center Image -->
            <div class="center-image-container flex items-center justify-center mx-auto">
                <Link :href="route('user.home')" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="https://www.mrcb.com.my/assets/images/ui/site-header/mrcb-logo.png" class="h-13">
                </Link>
            </div>
            <!-- Right Placeholder for Balance -->
            <div class="right-placeholder flex-1"></div>
        </div>
    </nav>
</template>

<script setup>
import { Link } from '@inertiajs/vue3';
</script>

<style scoped>
.left-image-container {
    flex: 0 0 auto;
}

.center-image-container {
    flex: 1 0 auto;
}

.right-placeholder {
    flex: 0 0 auto;
}
</style>



