<template>
    <Header />
    <div style="position: relative;  height: 100vh;">
        <img style="width: 100vw; height: 100vh; object-fit: cover;"
            src="https://www.mrcb.com.my/assets/images/pages/index/landing/3rdmainpg.jpg" alt="image description">
        <div
            style="position: absolute; top: 50%; left: 40%; transform: translate(-50%, -50%); color: white; font-size: 50px; ">
            <p style="font-size: 50px">In Setting The Standard,<br>
                We Don't Simply Build World-Class Developments
            </p>
            <p style="font-size: 25px; font-weight: lighter;" class="mt-2">
                We Build & Transform Communities,<br>
                For A Better Tomorrow
            </p>

            <p style="font-size: 18px; font-weight: lighter;" class="mt-3">
                Click <Link :href="route('user.login')" class="text-blue-600">here</Link> to login and Trace Local Product
            </p>
        </div>

    </div>
    <!-- <Footer /> -->
</template>



<script setup>
import { onMounted } from 'vue'
import { initFlowbite } from 'flowbite'
import Header from './Header.vue';
import Footer from './Footer.vue';
import { Link } from '@inertiajs/vue3';

// initialize components based on data attribute selectors
onMounted(() => {
    initFlowbite();
})
</script>
