<template>
    <Header />
    <div
        style="position: relative; height: 100vh; display: flex; align-items: center; background-image: url('https://www.mrcb.com.my/assets/images/pages/index/landing/3rdmainpg.jpg'); background-size: cover;">
        <!-- Text block -->
        <div style="color: white; font-size: 50px; margin-left: 60px;" class="p-10">
            <div style="display: flex; flex-direction: column;">
                <p style="font-size: 50px;">In Setting The Standard,<br>
                    We Don't Simply Build World-Class Developments
                </p>
                <p style="font-size: 25px; font-weight: lighter;" class="mt-2">
                    We Build & Transform Communities,<br>
                    For A Better Tomorrow
                </p>
            </div>
        </div>

        <!-- Form on the right -->
        <div style="display: flex; flex-direction: column; align-items: flex-start; background-color: white; margin-right: 80px; width: 30%; max-width: 600px;"
            class="p-10 rounded-lg">
            <p style="font-size: 25px;" class="font-bold flex items-center justify-center text-center text-blue-700">
                WELCOME TO MRCB</p>
            <form @submit.prevent="submit" style="width: 100%">
                <div class="relative mb-4 mt-10">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4 text-gray-500 dark:text-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>

                    </div>
                    <input type="text" v-model="form.email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Email">
                </div>
                <div class="relative mb-4">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4 text-gray-500 dark:text-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
                        </svg>

                    </div>
                    <input type="password" v-model="form.password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Password">
                </div>
                <p class="text-sm mb-6">Forgot Password?</p>
                <!-- <button style="background-color: #007bff; color: white; padding: 10px 20px; border: none; cursor: pointer;">Submit</button> -->
                <button type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Login</button>

                <p class="text-sm mb-5 text-center">
                    New to MRCB?
                    <Link :href="route('user.register')" class="text-blue-700">SIGN UP</Link>
                </p>
            </form>
        </div>
    </div>
</template>

<script setup>
import Header from './Layouts/Header.vue';
import { Link, useForm } from '@inertiajs/vue3';

const form = useForm({
    email: '',
    password: '',
});

const submit = () => {
    form.post(route('user.login.post'), {
        onFinish: () => form.reset('password'),
    });
};
</script>
