<template>
    <Header />
    <div
        style="position: relative; height: 100vh; display: flex; align-items: center; background-image: url('https://www.mrcb.com.my/assets/images/pages/index/landing/3rdmainpg.jpg'); background-size: cover;">
        <!-- Text block -->
        <div style="color: white; font-size: 50px; margin-left: 60px;" class="p-10">
            <div style="display: flex; flex-direction: column;">
                <p style="font-size: 50px;">In Setting The Standard,<br>
                    We Don't Simply Build World-Class Developments
                </p>
                <p style="font-size: 25px; font-weight: lighter;" class="mt-2">
                    We Build & Transform Communities,<br>
                    For A Better Tomorrow
                </p>
            </div>
        </div>

        <!-- Form on the right -->
        <div style="display: flex; flex-direction: column; align-items: flex-start; background-color: white; margin-right: 60px; width: 40%; max-width: 600px; margin-top: 8%;"
            class="p-6 rounded-lg">
            <p style="font-size: 25px;" class="font-bold flex items-center justify-center text-center text-blue-700">
                Create Account</p>
            <form @submit.prevent="submit" style="width: 100%">
                <div class="mb-4 mt-6">
                    <input type="text" v-model="form.name"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Full Name">
                </div>
                <div class=" mb-4">
                    <input type="text" v-model="form.icNumber"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="IC Number">
                </div>
                <div class=" mb-4">
                    <input type="email" v-model="form.email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Email">
                </div>
                <div class=" mb-4">
                    <input type="text" v-model="form.location"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Location">
                </div>
                <div class=" mb-4">
                    <input type="text" v-model="form.address"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Address">
                </div>
                <div class=" mb-4">
                    <input type="password" v-model="form.password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Password">
                </div>
                <div class="flex items-center justify-center my-8">
                    <hr class="border-gray-400 border w-full">
                    <span class="px-2 mx-2 bg-white text-gray-500 text-sm font-medium">OR</span>
                    <hr class="border-gray-400 border w-full">
                </div>
                <div class="flex justify-center mb-6">
                    <div class="flex items-center">
                        <input id="inline-radio" type="radio" v-model="form.type" value="0" name="inline-radio-group"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="inline-radio"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 mr-10">User</label>
                    </div>
                    <div class="flex items-center">
                        <input id="inline-2-radio" type="radio"  v-model="form.type" value="1" name="inline-radio-group"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="inline-2-radio"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Business</label>
                    </div>
                </div>

                <button type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>

            </form>
        </div>
    </div>
</template>

<script setup>
import Header from './Layouts/Header.vue';
import { Link, useForm } from '@inertiajs/vue3';

const form = useForm({
    name: '',
    icNumber: '',
    email: '',
    location: '',
    address: '',
    password: '',
    type: ''
});

const submit = () => {
    form.post(route('user.register.post'), {
        onFinish: () => form.reset('password'),
    });
};
</script>
