<template>
    <section class="bg-gray-50 dark:bg-gray-900">

        <div>
            <h2 class="text-2xl font-extrabold dark:text-white mb-5">Business Management</h2>
            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div
                    class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full md:w-1/2">

                    </div>
                    <div
                        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                        <button @click="openAddModal" type="button"
                            class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd"
                                    d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                            </svg>
                            Add Business
                        </button>
                    </div>
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-4 py-3">Busines Name</th>
                                <th scope="col" class="px-4 py-3">Actor</th>
                                <th scope="col" class="px-4 py-3">Type</th>
                                <th scope="col" class="px-4 py-3">Location</th>

                                <th scope="col" class="px-4 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="business in businesses" :key="business.id" class="border-b dark:border-gray-700">
                                <th scope="row"
                                    class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ business.name }}
                                </th>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-8 h-8 rounded-full inline-block mr-2"
                                        :src="`http://127.0.0.1:8000/${business.actor_image}`"/>
                                    {{business.actor_name}}
                                </td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            business.type }}
                                </td>
                                <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                            business.location }}
                                </td>
                                <td class="px-4 py-3 flex items-center justify-end">
                                    <button :id="`${business.id}-button`" :data-dropdown-toggle="`${business.id}`"
                                        class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                                        type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div :id="`${business.id}`"
                                        class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                            :aria-labelledby="`${business.id}`">
                                            <li>
                                                <a href="#" @click="openEditModal(business)"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                            </li>
                                        </ul>
                                        <div class="py-1">
                                            <a href="#" @click="DeleteBusiness(business.id)"
                                                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav v-if="businesses && businesses.length == 0" class="space-y-3 md:space-y-0 p-4"
                    aria-label="Table navigation">
                    <div style="text-align: center">
                        No Data
                    </div>
                </nav>
            </div>
        </div>
        <div v-if="modalOpen" tabindex="-1" aria-hidden="true"
            class="fixed inset-0 z-50 flex items-center justify-center">
            <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
            <div class="relative p-4 w-full max-w-[55%] max-h-full">

                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

                    <div class="flex items-center justify-between p-2 md:p-3 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            {{ isAddProduct ? 'Create Business' : 'Edit Business' }}
                        </h3>
                        <button type="button" @click="closeModal"
                            class="end-2.5 text-gray-400 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="authentication-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <div class="p-4 md:p-4">
                        <form @submit.prevent="isAddProduct ? AddProduct() : UpdateProduct()">
                            <label for="Image"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload
                                Actor Image</label>
                            <div class="flex items-center justify-center w-full">
                                <label for="dropzone-file"
                                    class="relative flex flex-col items-center justify-center w-full h-25 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                    <img :src="imageSource" alt="Preview Image"
                                        class="w-48 h-48 object-cover rounded-lg" v-if="imagePreview" />

                                    <div v-else>
                                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 20 16">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                            </svg>
                                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                                    class="font-semibold">Click to upload</span> or drag and drop</p>
                                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF</p>
                                        </div>
                                    </div>
                                    <input id="dropzone-file" type="file" class="hidden" @change="handleImageUpload" />
                                </label>
                            </div>
                            <div class="flex flex-wrap">
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Business Name</label>
                                    <input v-model="name" type="text" name="name" id="name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Business Name" required />
                                </div>
            
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="type"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Business Type</label>
                                    <input v-model="type" type="text" name="type" id="type"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Business Type" />
                                </div>
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="location"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Business Location</label>
                                    <input v-model="location" type="text" name="location" id="location"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Business Location" />
                                </div>
                                <div class="w-full md:w-1/2 p-2">
                                    <label for="actorname"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Actor Name</label>
                                    <input v-model="actor_name" type="text" name="actorname" id="actorname"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Actor Name" />
                                </div>
                            </div>
                            <div class="flex justify-end">
                                <button type="submit"
                                    class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script setup>
import { router } from '@inertiajs/vue3';
import { ref, computed } from 'vue';

defineProps({
    businesses: Array,
})

const id = ref('')
const name = ref('')
const type = ref('')
const location = ref('')
const actor_name = ref('')
const actor_image = ref('')

const resetFormData = () => {
    id.value = ''
    name.value = ''
    type.value = ''
    location.value = ''
    actor_name.value = ''
    actor_image.value = ''
    imagePreview.value = ''
}

const modalOpen = ref(false);
const isAddProduct = ref(false);
const isEditProduct = ref(false);

const imagePreview = ref('');

const handleImageUpload = (input) => {
    if (input.target.files && input.target.files[0]) {
        const file = input.target.files[0];
        actor_image.value = file; 
        const reader = new FileReader();

        reader.onload = (e) => {
            imagePreview.value = e.target.result;
        };

        reader.readAsDataURL(file);
    }
};

const imageSource = computed(() => {
    return imagePreview.value ? (imagePreview.value.startsWith('data:image') ? imagePreview.value : `http://127.0.0.1:8000/${imagePreview.value}`) : '';
});



const openAddModal = () => {
    modalOpen.value = true;
    isAddProduct.value = true;
};

const closeModal = () => {
    modalOpen.value = false;
    isAddProduct.value = false;
    isEditProduct.value = false;
    resetFormData()
};

const openEditModal = (business) => {
    modalOpen.value = true;
    isEditProduct.value = true;

    id.value = business.id
    name.value = business.name
    type.value = business.type
    location.value = business.location
    actor_name.value = business.actor_name
    imagePreview.value = business.actor_image
};

const AddProduct = async () => {
    const formData = new FormData()

    formData.append('name', name.value)
    formData.append('type', type.value)
    formData.append('location', location.value)
    formData.append('actor_name', actor_name.value)

    if (actor_image) {
        formData.append('image', actor_image.value)
    }

    try {
        await router.post('business', formData)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}

const UpdateProduct = async () => {
    const formData = new FormData()
    formData.append('name', name.value)
    formData.append('type', type.value)
    formData.append('location', location.value)
    formData.append('actor_name', actor_name.value)
    formData.append('_method', 'PATCH')

    if (actor_image) {
        formData.append('image', actor_image.value)
    }

    try {
        await router.post('business/' + id.value, formData)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}

const DeleteBusiness = async (id) => {
    try {
        await router.delete('business/' + id)
        closeModal()
        resetFormData()
    } catch (err) {
        console.log('error')
    }
}
</script>