<template>
    <AdminLayout>
        <main class="p-4 md:ml-64 h-auto pt-20 mx-auto max-w-screen-xl px-4 lg:px-12">
            <BusinessList :businesses="businesses"/>
        </main>
    </AdminLayout>
</template>

<script setup>
import { onMounted } from 'vue'
import { initFlowbite } from 'flowbite'
import AdminLayout from '../Components/AdminLayout.vue'
import BusinessList from './BusinessList.vue'

onMounted(() => {
    initFlowbite();
})

defineProps({
    businesses: Array
})

</script>