<template>
    <section class="bg-white dark:bg-gray-900 relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="max-w-l p-5">
            <form @submit.prevent="CreateBusiness()">
                <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                    <div class="w-full">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                        <input type="text" v-model="form.name" name="name" id="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Name" required>
                    </div>
                    <div class="w-full">
                        <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
                        <input type="text" name="type" id="type" v-model="form.type"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type" required>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
                        <textarea  id="location" rows="8" v-model="form.location"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Location..."></textarea>
                    </div>
                </div>
                <div class="flex justify-end">
                    <button type="submit"
                        class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>
</template>

<script setup>
import { defineProps } from 'vue';
import { useForm, router } from '@inertiajs/vue3';

const props = defineProps({
    business: Object,
    default: null
});

const form = useForm({
    name: props.business ? props.business.name : '',
    type: props.business ? props.business.type : '',
    location: props.business ? props.business.location : '',
});


const CreateBusiness = async () => {
    const formData = new FormData()

    formData.append('name', form.name)
    formData.append('type', form.type)
    formData.append('location', form.location)

    try {
        await router.post('business', formData)
    } catch (err) {
        console.log('error')
    }
}

</script>
