<template>
    <Header />
    <div style="position: relative;  height: 100vh;">
        <img style="width: 100vw; height: 100vh; object-fit: cover;"
            src="https://www.mrcb.com.my/assets/images/pages/index/landing/3rdmainpg.jpg" alt="image description">
        <div
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 50px; ">
            <div class="flex items-center justify-center mb-20">
                <a class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="https://www.mrcb.com.my/assets/images/ui/site-header/mrcb-logo.png" class="h-35">
                </a>
            </div>
            <div style="text-align: left;">
                <p style="font-size: 50px; margin-top: 20px;">In Setting The Standard,<br>
                    We Don't Simply Build World-Class Developments
                </p>
                <p style="font-size: 25px; font-weight: lighter;" class="mt-2">
                    We Build & Transform Communities,<br>
                    For A Better Tomorrow
                </p>
            </div>
        </div>
    </div>
    <!-- <ProductList :products="products" :categories="categories"/> -->
</template>
<script setup>
import Header from './Header.vue';
import ProductList from '../ProductList.vue';


</script>