<template>
    <Header />
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <h3 style="font-size: 30px" class="font-semibold text-gray-900 dark:text-white mb-5 mt-5">Details of {{
                product.name }} </h3>
            <div class="mt-4 flex justify-between">
                <!-- 4-column Card -->
                <div class="card-4 bg-white p-4 rounded-md ">
                    <div class="group relative">
                        <p
                            class="bg-yellow-100 text-yellow-800 text-xs font-medium absolute top-2 start-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">
                            {{ product.category_id.description }}
                        </p>
                        <div
                            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-60">
                            <img :src="product.image"
                                class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <h3 style="font-size: 20px" class=" font-semibold text-gray-900 dark:text-white mt-2">Actor
                            </h3>
                            <div v-if="product.business && product.business.actor_name" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-8 h-8 rounded-full inline-block mr-2"
                                        :src="`http://127.0.0.1:8000/${product.business.actor_image}`"/>
                                        {{ product.business.actor_name }}
                            </div>
                    </div>
                </div>
                <!-- 8-column Card -->
                <div class="card-8 bg-white p-4 rounded-md ml-12">
                    <div class="flex">
                        <div>
                            <h3 style="font-size: 20px" class=" font-semibold text-gray-900 dark:text-white">Details
                            </h3>
                            <p class="mt-1">Business Name: {{ product.business && product.business.name }}</p>
                            <p class="mt-1">Quantity : {{ product.quantity }}</p>
                            <p class="mt-1">Price : <span class="inline-block px-2 py-1 bg-green-400 text-white text-xs font-semibold rounded">RM {{ product.price }}</span> for 1</p>

                            <p class="mt-1">Price per kg: <span class="inline-block px-2 py-1 bg-green-400 text-white text-xs font-semibold rounded">{{ product.price_per_kg }}/1kg</span></p>

                           
                            <h3 style="font-size: 20px" class=" font-semibold text-gray-900 dark:text-white mt-5">
                                Location 
                            </h3>
                            <p class="mt-1">{{ product.business && product.business.location }}</p>

                            

                           
                        </div>
                        <div class="ml-10">
                            <h3 style="font-size: 20px" class="font-semibold text-gray-900 dark:text-white">Date
                            </h3>
                            <p class="mt-1">Product Arrived : {{ product.product_arrived }}</p>
                            <p class="mt-1">Expired Date : {{ product.expired_date }} </p>

                             
                        </div>
                        <div class="ml-10">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <Link :href="route('user.product')"
                    class="px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                    </svg>
                    Back
                </Link>
            </div>
        </div>
    </div>
</template>

<script setup>
import Header from './Layouts/Header.vue';
import { Link } from '@inertiajs/vue3';

defineProps({
    product: Object,
    categories: Array
});
</script>

<style scoped>
.card-4 {
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.card-8 {
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}
</style>
