<template>
    <Header />
    <ProductList :products="products" :categories="categories" />
    
</template>
<script setup>
import Header from './Layouts/Header.vue';
import ProductList from './ProductList.vue';

defineProps({
    products: Array,
    categories: Array
})
</script>