<template>
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <Search :categories="categories" />
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

                <div v-for="product in products" class="group relative">
                    <Link :href="'/user/product/' + product.id">
                        <p
                        class="bg-yellow-100 text-yellow-800 text-xs font-medium absolute top-2 start-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">
                        {{ product.category_id.description }}
                    </p>
                    <div
                        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-60">
                        <img :src="product.image" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                    </div>
                    <div class="mt-4 flex justify-between">
                        <div>
                            <h3 class="text-sm text-gray-700">
                                <a href="#">
                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                    {{ product.name }}
                                </a>

                            </h3>
                        </div>
                        <p
                            class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
                            RM{{ product.price }}</p>
                    </div>
                    <p class="mt-1 text-sm text-gray-500">RM{{ product.price_per_kg }}/kg</p>
                    <p class="mt-1 text-sm text-gray-500">{{ product.business && product.business.name }},
                        {{ product.business && product.business.location }}</p>
                    </Link>
                </div>
            </div>
            <div v-if="products.length == 0" class="flex items-center justify-center h-full mt-10">
                <div
                    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                    <div class="flex flex-col items-center justify-center p-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>

                        <h5 class="mb-1 mt-5 text-xl font-medium text-gray-900 dark:text-white">No Result Found</h5>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
import { Link, router } from '@inertiajs/vue3';
import Search from './Search.vue';

defineProps({
    products: Array,
    categories: Array,
})

const reset = async () => {
    try {
        await router.get('product');
    } catch (err) {
        console.log('Error:', err);
    }
}

</script>
