<template>
    <div>
        <form @submit.prevent="HandleSearch" class="max-w-lg mx-auto p-5">
            <div class="flex">
                <button id="dropdown-button" @click="toggleDropdown"
                    class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                    type="button">
                    {{ selectedCategory ? selectedCategory.description : 'All categories' }}
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="dropdown" :class="{ 'hidden': !showDropdown }"
                    class="z-50 mt-[3%] bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 max-h-40 overflow-y-auto absolute">
                    <!-- Set max height to 40 and overflow-y-auto for scroll -->
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                        <li v-for="category in categories" :key="category.id">
                            <button type="button" @click="selectCategory(category)"
                                class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                {{ category.description }}
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="relative w-full">
                    <input type="search" id="search-dropdown" v-model="search"
                        class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                        placeholder="Search..." />

                    <!-- Reset button -->
                    <button v-if="searchHistory" @click="resetSearch"
                        class="absolute top-0 right-10 p-2.5 text-sm font-medium h-full text-gray-500 hover:text-gray-700 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>

                        <span class="sr-only">Reset</span>
                    </button>
                    <!-- End Reset button -->

                    <button type="submit"
                        class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </div>

            </div>
        </form>


        <div style="text-align: center">
            <div v-if="searchHistory">
                <span v-if="searchHistory.name"
                    class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                    Search : {{ searchHistory.name }}
                </span>
                <span v-if="searchHistory.category"
                    class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                    Category : {{ searchHistory.category }}
                </span>
            </div>
            <div v-else>
                <span
                    class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                    What Product You Need ?
                </span>
            </div>


        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { router } from '@inertiajs/vue3';

const search = ref('')
const selectedCategory = ref(null)
const showDropdown = ref(false)
const searchHistory = ref(null) // Create a reactive object to store search history

// Load search history from local storage on component mount
onMounted(() => {
    if (localStorage.getItem('searchHistory')) {
        searchHistory.value = JSON.parse(localStorage.getItem('searchHistory'));
    }
});

const HandleSearch = () => {
    try {
        router.get(`product?name=${search.value}&category=${selectedCategory.value ? selectedCategory.value.value : ''}`);

        searchHistory.value = null;

        // Remove the search history item from local storage
        localStorage.removeItem('searchHistory');

        // Add the search query to the search history object with the unique identifier
        if (search.value || selectedCategory.value) {
            searchHistory.value = { name: search.value, category: selectedCategory.value ? selectedCategory.value.description : 'All categories' };

            // Save search history to local storage
            localStorage.setItem('searchHistory', JSON.stringify(searchHistory.value));
        }


        // Clear the search input after search
        search.value = '';
    } catch (err) {
        console.log('Error:', err);
    }
}

const toggleDropdown = () => {
    showDropdown.value = !showDropdown.value;
}

const selectCategory = (category) => {
    selectedCategory.value = category;
    showDropdown.value = false;
}

const resetSearchHistory = () => {
    // Clear the search history object
    searchHistory.value = null;

    // Remove the search history item from local storage
    localStorage.removeItem('searchHistory');
}

defineProps({
    categories: Array,
})
</script>
